fastapi
uvicorn
python-dotenv
pymupdf
faiss-cpu
sentence-transformers
neo4j
requests
numpy
pandas
scikit-learn
rank_bm25
python-multipart
langchain-text-splitters
matplotlib
huggingface_hub
certifi
networkx
python-louvain
torch
transformers
streamlit
plotly
pyvis
